@inject IStringLocalizer<Resources.AdmissionComponent> localizer

<!-- ======= Services Section ======= -->
<div class="row">
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
    <div class="icon-box">
      <div class="icon"><i class="bi bi-check-all"></i></div>
      <h4>@localizer["Free"]</h4>
      <p>@localizer["Level"]</p>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
    <div class="icon-box">
      <div class="icon"><i class="bi bi-percent"></i></div>
      <h4>@localizer["Discount"]</h4>
      <p>@localizer["Olimpic"]</p>
    </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
    <div class="icon-box">
      <div class="icon"><i class="bi bi-briefcase"></i></div>
      <h4>@localizer["Recruitment"]</h4>
      <p>@localizer["IshgaQabul"]</p>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
    <div class="icon-box">
      <div class="icon"><i class="bi bi-house"></i></div>
      <h4>@localizer["Life"]</h4>
      <p>@localizer["Lifeplace"]</p>
    </div>
  </div>
</div>
<!-- End Services Section -->
