@using System.Globalization
@inject IStringLocalizer<Resources.ContactUs> localizer
@inject IJSRuntime jsRun
<div class="row" data-aos="fade-up" data-aos-delay="100">
    <div class="col-lg-6">
        <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>@localizer["Visit"]</h3>
            <p>@localizer["address"]</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>@localizer["Email"]</h3>
            <p>nano-djems@mail.ru</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>@localizer["Phone"]</h3>
            <p>(69) 210 00 07, (94) 303 07 07</p>
        </div>
    </div>
</div>

<div class="row" data-aos="fade-up" data-aos-delay="100">

    <div class="col-lg-6 ">
        <iframe class="mb-4 mb-lg-0"
            src="@MapAddress"
            frameborder="0"  style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <form id="contact-form" class="php-email-form">
            <div class="row">
                <div class="col form-group">
                    <input type="text" name="name" class="form-control" oninput="ValidationIcon('name')" id="name"
                        placeholder='@localizer["Name"]' required>
                </div>
                <div class="col form-group">
                    <input type="email" oninput="ValidationIcon('email')" class="form-control" name="email" id="email"
                        placeholder='@localizer["YourEmail"]' required>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder='@localizer["Theme"]'>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder='@localizer["Message"]'></textarea>
            </div>

            <div class="text-center"><button onclick="Send_Data()" id="compobtn"
                    type="submit">@localizer["Sent"]</button></div>
            <div id="res_suc" hidden class="alert alert-success mt-3 h4">@localizer["Success"]</div>
            <div id="res_err" hidden class="alert alert-danger h4">@localizer["Error"]</div>
        </form>
    </div>
</div>
@code {
    private string MapAddress { get; set; } = 
        "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.425305267796!2d71.70549031541297!3d40.97216697930443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf76ec81db6927a6!2zNDDCsDU4JzE5LjgiTiA3McKwNDInMjcuNiJF!5e0!3m2!1suz!2s!4v1647448393411!5m2!1s"
         + CultureInfo.CurrentCulture.DisplayName.Substring(0, 2) + "!2s";
}