@inject IStringLocalizer<Resources.AdmissionFaturedComponent> localizer

<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-translate"></i></div>
                    <h4 class="title"><a href="">@localizer["Dars"]</a></h4>
                    <p class="description">@localizer["DarsInfo"]</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-folder-check"></i></div>
                    <h4 class="title"><a href="">@localizer["Talim"]</a></h4>
                    <p class="description">@localizer["TalimInfo"]</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-globe"></i></div>
                    <h4 class="title"><a href="">@localizer["Lan"]</a></h4>
                    <p class="description">@localizer["LanInfo"]</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-sort-up"></i></div>
                    <h4 class="title"><a href="">@localizer["Pre"]</a></h4>
                    <p class="description">@localizer["PreInfo"]</p>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-bookmark-star"></i></div>
                    <h4 class="title"><a href="">@localizer["Tatil"]</a></h4>
                    <p class="description">@localizer["TatilInfo"]</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-journal-check"></i></div>
                    <h4 class="title"><a href="">@localizer["Diplom"]</a></h4>
                    <p class="description">@localizer["DiplomInfo"]</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-gender-female"></i></div>
                    <h4 class="title"><a href="">@localizer["Girls"]</a></h4>
                    <p class="description">@localizer["GirlsInfo"]</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-chat-dots"></i></div>
                    <h4 class="title"><a href="">@localizer["Teacher"]</a></h4>
                    <p class="description">@localizer["TeacherInfo"]</p>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-wifi"></i></div>
                    <h4 class="title"><a href="">@localizer["Online"]</a></h4>
                    <p class="description">@localizer["OnlineInfo"]</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-eyeglasses"></i></div>
                    <h4 class="title"><a href="">@localizer["Parents"]</a></h4>
                    <p class="description">@localizer["ParentsInfo"]</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-mortarboard"></i></div>
                    <h4 class="title"><a href="">@localizer["Pupil"]</a></h4>
                    <p class="description">@localizer["PupilInfo"]</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-graph-up-arrow"></i></div>
                    <h4 class="title"><a href="">@localizer["English"]</a></h4>
                    <p class="description">@localizer["EnglishInfo"]</p>
                </div>
            </div>
        </div>
    </div>
</section>