@inject IStringLocalizer<Resources.AdmissionComponent> localizer

<!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>@localizer["admission"]</h2>
          <h3>@localizer["admission"] <span>@localizer["started"] 📢</span></h3>
          <p>@localizer["Developed"]</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-check-all"></i></div>
              <h4><a href="">@localizer["Free"]</a></h4>
              <p>@localizer["Level"]</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-percent"></i></div>
              <h4><a href="">@localizer["Discount"]</a></h4>
              <p>@localizer["Olimpic"]</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4><a href="">@localizer["Recruitment"]</a></h4>
              <p>@localizer["IshgaQabul"]</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-house"></i></div>
              <h4><a href="">@localizer["Life"]</a></h4>
              <p>@localizer["Lifeplace"]</p>
            </div>
          </div>

        </div>

      </div>
    </section>
<!-- End Services Section -->
