@using System.Text.Json
@inject IStringLocalizer<Resources.ContactUs> localizer
@inject IJSRuntime jsRun
<div class="row" data-aos="fade-up" data-aos-delay="100">
    <div class="col-lg-6">
        <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>@localizer["Visit"]</h3>
            <p>@localizer["address"]</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>@localizer["Email"]</h3>
            <p>@localizer["Emailadress"]</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>@localizer["Phone"]</h3>
            <p>@localizer["Phonenum"]</p>
        </div>
    </div>

</div>

<div class="row" data-aos="fade-up" data-aos-delay="100">

    <div class="col-lg-6 ">
        <iframe class="mb-4 mb-lg-0"
            src="https://maps.google.com/maps?q=Uzbekistan,%20Tashkent,%20ilmhub%20IT%20School&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <form id="contact-form" class="php-email-form">
            <div class="row">
                <div class="col form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder='@localizer["Name"]'
                        required>
                </div>
                <div class="col form-group">
                    <input type="email" class="form-control" name="email" id="email"
                        placeholder='@localizer["YourEmail"]' required>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder='@localizer["Theme"]'
                    required>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder='@localizer["Message"]'
                    required></textarea>
            </div>
            
            <div class="text-center"><button onclick="Send_Data()" type="submit">@localizer["Sent"]</button></div>
            <div id="res_suc" hidden class="alert alert-success mt-3">success</div>
            <div id="res_err" hidden class="alert alert-danger">error</div>
        </form>
    </div>
</div>
