@inject IStringLocalizer<FooterComponent> localizer

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                 <div class="col-lg-4 col-md-6">
                    <h4>@localizer["weareinSM"]</h4>
                    <div class="social-links my-3">
                        <a onclick="window.open('https://t.me/naminteach', '_blank')" class="telegram"><i
                                class="bx bxl-telegram"></i></a>
                        <a onclick="window.open('http://instagram.com/itschool.uz', '_blank')" class="instagram"><i
                                class="bx bxl-instagram"></i></a>
                        <a onclick="window.open('https://www.youtube.com/channel/UCFIGpknr9Ub1E21NsxpAL_Q', '_blank')"
                            class="youtube"><i class="bx bxl-youtube"></i></a>
                        <a onclick="window.open('http://facebook.com/itschool.uz', '_blank')" class="facebook"><i
                                class="bx bxl-facebook"></i></a>
                    </div>
                    <LanguageComponent></LanguageComponent>
                </div>
                

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>@localizer["pages"]</h4>
                    <ul>
                        <li><a href="#">@localizer["home"]</a></li>
                        <li><a href="#">@localizer["admission"]</a></li>
                        <li><a href="#">@localizer["team"]</a></li>
                        <li><a href="#">@localizer["lessons"]</a></li>
                        <li><a href="#">@localizer["it"]</a></li>
                        <li><a href="#">@localizer["contact"]</a></li>
                    </ul>
                </div>

               <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>@localizer["contact"]<span>.</span></h3>
                    <p>
                        @localizer["address-street"],<br>
                        @localizer["address-building"],<br>
                        @localizer["address-region"]<br>
                        @localizer["province"]<br>
                        <strong>@localizer["email"]:</strong> nano-djems@mail.ru<br>
                        <strong>@localizer["phone"]:</strong> (69) 210 00 07
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container pt-3">
        <div class="credits my-auto">
            @((MarkupString)localizer["DesignedBy"].ToString())
        </div>
    </div>
</footer><!-- End Footer -->