@inherits LayoutComponentBase
@inject IStringLocalizer<Resources.NavbarComponent> localizer
<div class="col-lg-4 col-md-6 footer-links">
    <h4>@localizer["pages"]</h4>
    <ul>
        <li><a href="#">@localizer["home"]</a></li>
        <li><a href="#">@localizer["admission"]</a></li>
        <li><a href="#">@localizer["team"]</a></li>
        <li><a href="#">@localizer["lessons"]</a></li>
        <li><a href="#">@localizer["it"]</a></li>
        <li><a href="#">@localizer["communication"]</a></li>
    </ul>
</div>