@page "/aboutus"
@inject IStringLocalizer<Resource> localizer

<PageTitle>About</PageTitle>

<section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>@localizer["abt"]</h2>
          <h3><span>@localizer["findOut"]</span></h3>
          <p>@localizer["subTitle"]</p>
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>@localizer["title"]</h3>
            <p class="fst-italic">@localizer["subTitle2"]
            </p>
            <ul>
              <li>
                🇬🇧
                <div>
                  <h5>@localizer["a1"]</h5>
                </div>
              </li>
              <li>
                🧑‍🎓
                <div>
                  <h5>@localizer["a2"]</h5>
                </div>
              </li><li>
                📚
                <div>
                  <h5>@localizer["a3"]</h5>
                </div>
              </li><li>
                🗣️
                <div>
                  <h5>@localizer["a4"]</h5>
                </div>
              </li><li>
                📜
                <div>
                  <h5>@localizer["a5"]</h5>
                </div>
              </li><li>
                🌐
                <div>
                  <h5>@localizer["a6"]</h5>
                </div>
              </li><li>
                🎀
                <div>
                  <h5>@localizer["a7"]</h5>
                </div>
              </li><li>
                🧑🏻‍🏫
                <div>
                  <h5>@localizer["a8"]</h5>
                </div>
              </li><li>
                👨🏻‍💻
                <div>
                  <h5>@localizer["a9"]</h5>
                </div>
              </li><li>
                🎥
                <div>
                  <h5>@localizer["a10"]</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
