@page "/itprogramm"
@inject IStringLocalizer<Resources.ITProgramm> localizer

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="section-title">
                <h2>@localizer["it"]</h2>
                <h3>@localizer["itlessons"]</h3>
                <p>@localizer["aboutitlessons"]</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="team">
                            <div class="team-avatar">
                                <img class="w-100" src="img/courses/Python.png" alt="">
                            </div>
                            <div class="team-content">
                                <div class=" team-content-inner">
                                    <div class="d-flex">
                                        <div class="team-info">
                                            <h5 class="mb-0"><a href="#" class="avatar-name">@localizer["pythonbeginner"]</a>
                                            </h5>
                                            <span class="team-position">@localizer["pythonbeginnertag"]</span>
                                        </div>
                                    </div>
                                    <div class="team-contact mt-2">
                                        <a class="text-white d-block" href="#">
                                            <i class="far fa-envelope mr-1"></i>
                                            @localizer["pythonbeginnerdescr"]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team">
                            <div class="team-avatar">
                                <img class="w-100" src="/img/courses/Scratch.png" alt="">
                            </div>
                            <div class="team-content">
                                <div class=" team-content-inner">
                                    <div class="d-flex">
                                        <div class="team-info">
                                            <h5 class="mb-0"><a href="#" class="avatar-name">@localizer["scratch"]</a></h5>
                                            <span class="team-position">@localizer["scratchtag"]</span>
                                        </div>
                                    </div>
                                    <div class="team-contact mt-2">
                                        <a class="text-white d-block" href="#">
                                            <i class="far fa-envelope mr-1"></i>
                                            @localizer["scratchdescr"]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team">
                            <div class="team-avatar">
                                <img class="w-100" src="/img/courses/netbootcamp.png" alt="">
                            </div>
                            <div class="team-content">
                                <div class=" team-content-inner">
                                    <div class="d-flex">
                                        <div class="team-info">
                                            <h5 class="mb-0"><a href="#" class="avatar-name">@localizer["dotnetbootcamp"]</a></h5>
                                            <span class="team-position">@localizer["dotnetbootcamptag"]</span>
                                        </div>
                                    </div>
                                    <div class="team-contact mt-2">
                                        <a class="text-white d-block" href="#">
                                            <i class="far fa-envelope mr-1"></i>
                                            @localizer["dotnetbootcampdescr"]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>