@inject IStringLocalizer<Resources.TeachersAnnounce> localizer

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@localizer["teachers"]</h2>
            <h3>@localizer["teachersub"]</h3>
            <p>@localizer["teachersdescr"]</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-select-multiple"></i></div>
                    <h4>@localizer["1title"]</h4>
                    <p>@localizer["1subtitle"]</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-medal"></i></div>
                    <h4>@localizer["2title"]</h4>
                    <p>@localizer["2subtitle"]</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxs-chart"></i></div>
                    <h4>@localizer["3title"]</h4>
                    <p>@localizer["3subtitle"]</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->